fastapi
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
google-pasta
googleapis-common-protos
h11
h5py
keras
matplotlib
numpy
python-multipart
tensorboard
tensorboard-data-server
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
tf_keras
uvicorn
